$Main: #5367fe;
$Title: #fff;
$Paragraph1: #9295a6;
$Paragraph2: #6c7080;
$Line: #414558;
$Card: #121318;
$Card2: #21232f;
$BG: #080808;
$Green: #0ecb81;
$Red: #f6465d;
$Border: #282a38;
$Yellow: #e6a80f;
$Purple: #da1df9;
$Pastel: #03cbf7;
