@import './Icon.scss';
@import './color-variables.scss';
@import './mixins.scss';

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-SemiBold.ttf');
  font-style: italic;
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-ExtraBold.ttf');
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-ExtraLight.ttf');
  font-style: italic;
  font-weight: 400;
}

.text-error {
  font-weight: 400;
  color: #ee5d50;
  font-size: 14px;
}
