.icon-rounded-bitcoin {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/rounded-networks-sprite.png') -10px -10px;
}

.icon-rounded-polygon {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/rounded-networks-sprite.png') -50px -10px;
}

.icon-rounded-bsc {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/rounded-networks-sprite.png') -10px -50px;
}

.icon-rounded-solana {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/rounded-networks-sprite.png') -50px -50px;
}

.icon-rounded-ethereum {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/rounded-networks-sprite.png') -90px -10px;
}

.icon-ethereum {
  width: 42px;
  height: 42px;
  background: url('../assets/icons/networks-sprite.png') -73px -10px;
}

.icon-bsc {
  width: 42px;
  height: 42px;
  background: url('../assets/icons/networks-sprite.png') -10px -72px;
}

.icon-avax {
  width: 42px;
  height: 42px;
  background: url('../assets/icons/networks-sprite.png') -10px -10px;
}

.icon-polygon {
  width: 42px;
  height: 42px;
  background: url('../assets/icons/networks-sprite.png') -72px -72px;
}

.icon-solana {
  width: 42px;
  height: 42px;
  background: url('../assets/icons/networks-sprite.png') -135px -10px;
}

.icon-metamask {
  width: 42px;
  height: 42px;
  background: url('../assets/icons/wallets_sprite.png') -73px -10px;
}

.icon-wallet-connect {
  width: 42px;
  height: 42px;
  background: url('../assets/icons/wallets_sprite.png') -10px -10px;
}

.icon-wallet-bsc {
  width: 42px;
  height: 42px;
  background: url('../assets/icons/wallets_sprite.png') -10px -72px;
}
