.icon-bitcoin {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks.png') -10px -10px;
}

.icon-polygon {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks.png') -50px -10px;
}

.icon-bsc {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks.png') -10px -50px;
}

.icon-solana {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks.png') -50px -50px;
}

.icon-ethereum {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks.png') -90px -10px;
}

.icon-optimism {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks.png') -90px -50px;
}

.icon-arbitrum {
  width: 20px;
  height: 20px;
  background: url('../assets/icons/icon_networks.png') -10px -90px;
}